@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --clr-dark: #922731;
  --clr-light: #FFE4D1;
  --clr-light-shade: #FBD8C2;

  --clr-shade600: #cc414e;
  --clr-shade700: #d25763;
  --clr-slate800: #d86e78;
}

* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
}

html {
  scroll-behavior: smooth;
}

body{
  font-family: "Poppins", sans-serif;
  background-color: var(--clr-light);
  color: var(--clr-dark);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

button {
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
}

a{
  color: var(--clr-pink);
  text-decoration: none;
}